{% extends 'base.html.twig' %}


{% block title %}Bienvenue sur le projet Session!{% endblock %}

{% block body %}

    {% if app.user %}

    <h1 class="homeTitle">Bienvenue {{app.user.prenom}} {{app.user.nom}}</h1>
    
    <p class="description"> Vous pouvez à présent naviguer dans l'application de gestion des sessions de formations</p>

    <h2 style="text-align : center">Aperçu des sessions en cours</h2>

    <table class="tList listSessions">
        <thead>
            <tr>
                <th>session</th>
                <th>date de début</th>
                <th>date de fin</th>
                <th>inscrits</th>
                <th>modifications</th>
            </tr>
        </thead>
        <tbody>
            {# Tableau sessions en cours #}
            {% set count = 0 %}
            {% for session in sessions %}
                {% if date(session.dateDebut) < date() and date(session.dateFin) > date() %}
            <tr>
                <td><a href="{{path('show_session', {'id': session.id})}}" class="intitule_session">{{session.intituleSession}}</a></td>
                <td>{{session.dateDebut|date('d/m/Y')}}</td>
                <td>{{session.dateFin|date('d/m/Y')}}</td>
                <td>{{session.stagiaires|length}} / {{session.nbPlaces}}</td>
                <td><a href="{{path('edit_session', {'id': session.id})}}"><i class="fa-regular fa-pen-to-square"></i></a> / <a href="{{path('delete_session', {'id' : session.id})}}"><i class="fa-regular fa-trash-can"></i></a></td>            </tr> 
            </tr>
                {% set count = count + 1 %}
                {% endif %}
            {% endfor %}

                {% if count == 0 %}
                <tr>
                    <td colspan="5">Pas de session en cours...</td>
                </tr>
                {% endif %}
            
            

        </tbody>
        </table>

    {% else %}
        <h1 class="homeTitle">Bienvenue sur l'application de gestion des sessions de formations</h1>
        {# <p>Insérer description de l'application</p> #}
        <p class="description">Pour commencer, rendez-vous sur la page d'inscription pour utliser l'application, ou si vous disposez déja d'un compte connectez-vous.</p>
        <p class="description"><a href="{{path('app_register')}}">Inscription</a> - <a href="{{path('app_login')}}">Connection</a></p>
    {% endif %}

{% endblock %}
