{% extends 'base.html.twig' %}

{% block title %}Détails de la session{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}         
<div class="flash flash-success">
    {{ message }}
</div>
{% endfor %}

{% for message in app.flashes('alert') %}
                
<div class="flash flash-alert">
    {{ message }}
</div>
{% endfor %}


<h1>{{session.intituleSession}} <a href="{{path('edit_session', {'id': session.id})}}"><i class="fa-regular fa-pen-to-square"></i></a></h1>


<div class="containerSession">

    <div class="infoAndModules">

        <div class="info infoSession">
            <div class="infoSessionLeft">
                <p>date de début : {{session.dateDebut|date('d/m/Y')}}</p>
                <p>date de fin : {{session.dateFin|date('d/m/Y')}}</p>
            </div>
            <div class="infoSessionRight">
                <p>Nombre d'inscrits : {{session.stagiaires|length}}/{{session.nbPlaces}}</p>
                <p>Nombre de modules : {{session.programmes|length}}</p>
            </div>
        </div>
        <div class="containerTabForm">
            <h2 class="moduleTitle">Modules</h2>
            <div class="tabForm">
                <table>
                    <thead>
                        <tr>
                            <th>Module</th>
                            <th>Catégorie</th>
                            <th>Durée</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for programme in session.programmes|sort((a,b)=> a.module.nom <=> b.module.nom) %}
                            <tr>
                                <td>{{programme.module.nom}}</td>
                                <td> {{programme.module.categorie.nom}}</td>
                                <td> {{programme.nbJours}} jours</td>
                                <td class="icons"><a href="{{path('delete_programme', {'id' : programme.id})}}"><i class="fa-solid fa-minus"></i></a></td>
                            </tr> 
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="marginTab"></div>
        </div>
        <div class="containerTabForm">
            <h2 class="moduleTitle">Modules non programmés</h2>
            <div class="tabForm">
                <table>
                    <thead>
                        <tr>
                            <th>Module</th>
                            <th>Catégorie</th>
                            <th>Durée</th>
                            <th>Ajouter</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for module in modules %}
                            
                        <tr>
                            <td>{{module.nom}}</td>
                            <td> {{module.categorie.nom}}</td>
                            <form action="{{path('add_program', {'id': session.id, 'idModule' : module.id})}}" method="post">
                                <td><input type="number" name="duree" id="duree" required class="nbJours" min="1" max="365"></td>
                                <td class="icons"><button type="submit" name="submit" ><i class="fa-sharp fa-regular fa-plus"></i></button></td>
                                
                            </form>
                        </tr> 
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="marginTab"></div>
        </div>
        
    </div>
                                                            {# Liste des stagiaires #}
    <div class="listStagiaires">
        <div class="containerTabForm">
            <h2 class="moduleTitle">Stagiaires incrits</h2>
            <div class="tabForm">
                <table>
                    <thead>
                        <tr>
                            <th>Prénom Nom</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stagiaire in session.stagiaires|sort((a,b)=> a.prenom <=> b.prenom)|sort((a,b) => a.nom <=> b.nom) %}
                            <tr>
                                <td><a href="{{path('show_stagiaire', {'id': stagiaire.id})}}">{{stagiaire.prenom}} {{stagiaire.nom}}</a></td>
                                <td class="icons"><a href="{{path('delete_inscription', {'session' : session.id , 'stagiaire': stagiaire.id })}}"><i class="fa-solid fa-minus"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="marginTab"></div>
        </div>
        <div class="containerTabForm">
            <h2 class="moduleTitle">Stagiaires non incrits</h2>
            <div class="tabForm">
                <table>
                    <thead>
                        <tr>
                            <th>Prénom Nom</th>
                            <th>Ajouter</th>
                        </tr>
                    </thead>
                    <tbody>
                         {% for stagiaire in stagiaires %}
                            <tr>
                                <td>{{stagiaire.prenom}} {{stagiaire.nom}}</td>
                                <form action="{{path('add_student_to_session', { 'id' : session.id, 'stagiaire' : stagiaire.id})}}" method="post">
                                    <td class="icons"><button type="submit" name="submitStudent"><i class="fa-sharp fa-regular fa-plus"></i></button> </td>
                                    
                                </form>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="marginTab"></div>
        </div>

    </div>
</div>

{% endblock %}