{% extends 'base.html.twig' %}

{% block title %}Détails de la session{% endblock %}

{% block body %}

<h1>{{session.intituleSession}}</h1>


<div class="containerSession">

    <div class="infoAndModules">
        <div class="info infoSession">
            <div class="infoSessionLeft">
                <p>date de début : {{session.dateDebut|date('d/m/Y')}}</p>
                <p>date de fin : {{session.dateFin|date('d/m/Y')}}</p>
                
            </div>
            <div class="infoSessionRight">
                <p>Nombre d'inscrits : {{session.stagiaires|length}}/{{session.nbPlaces}}</p>
                <p>Nombre de modules : {{session.programmes|length}}</p>
                
            </div>
        </div>
    </div>

    <div class="listStagiaires">


    </div>
</div>

{% endblock %}