{% extends 'base.html.twig' %}

{% block title %}Liste des formateurs{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
                
<div class="flash flash-success">
    {{ message }}
</div>

{% endfor %}
<h1>Liste des formateurs</h1>

<a href="{{path('add_formateur')}}" class="btn">Nouveau Formateur</a>

<table class="tList">
<thead>
    <tr>
        <th>Prénom Nom</th>
        <th>modifications</th>
    </tr>
</thead>
<tbody>
    {% for formateur in formateurs %} 

    <tr>
        <td>{{formateur.prenom}} {{formateur.nom}}</td>
        <td><a href="{{path('edit_formateur', {'id' : formateur.id})}}"><i class="fa-regular fa-pen-to-square"></i></a> / <a href=""><i class="fa-regular fa-trash-can"></i></a></td>
    </tr> 

    {% endfor %}
</tbody>
</table>

{% endblock %}
