{# https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp #}
<div class="topnav" id="myTopnav">
    
    <div class="leftNav">
        <a href="{{path('home.index')}}">ACCUEIL</a>

        {% if app.user %}
            <div class="dropdown">
                <button class="dropbtn">SESSIONS
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{path('liste_session')}}">Liste</a>
                    <a href="{{path('add_session')}}">Nouvelle Session</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">MODULES
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{path('liste_module')}}">Liste</a>
                    <a href="{{path('add_module')}}">Nouveau module</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">CATEGORIES
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{path('liste_categorie')}}">Liste</a>
                    <a href="{{path('add_categorie')}}">Nouvelle catégorie</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">STAGIAIRES
                    <i class="fa fa-caret-down"></i>  
                </button>
                <div class="dropdown-content">
                    <a href="{{path('liste_stagiaire')}}">Liste</a>
                    <a href="{{path('add_stagiaire')}}">Nouveau stagiaire</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">FORMATEUR
                    <i class="fa fa-caret-down"></i>  
                </button>
                <div class="dropdown-content">
                    <a href="{{path('liste_formateur')}}">Liste</a>
                    <a href="">Nouveau formateur</a>
                </div>
            </div>
    </div>
        <div class="rightNav">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{path('administration')}}">ADMIN</a>
            {% endif %}
            <a href="{{path('view_profile')}}"><i class="fa-solid fa-user"></i> {{app.user.prenom}}</a>
            <a href="{{path('app_logout')}}">DECONNEXION</a>
            <a href="javascript:void(0);" class="icon" onclick="navFunction()">&#9776;</a>
        </div>
    {% else %}
    </div>
        <div class="rightNav">
            <a href="{{path('app_register')}}"> INSCRIPTION</a>
            <a href="{{path('app_login')}}">CONNEXION</a>
            <a href="javascript:void(0);" class="icon" onclick="navFunction()">&#9776;</a>
        </div>
    {% endif %}
    

    {# Bouton à droite de la navBar lorsque la largeur de la page est inférieur à 600px #}
    
    
</div>